Repository kgulyy/java-automated-test-development, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:workflow, theme:build, theme:core, theme:tests

Add version for Maven compiler plugin
  pom.xml
Labels: theme:build

Add encoding conf for Maven
  pom.xml
Labels: theme:build

Fix double build on pull-request
  .github/workflows/maven.yml
Labels: theme:workflow

Cleanup comments
  src/test/java/com/acme/banking/dbo/ClientTest.java
Labels: theme:tests

Add Verify type labels action
  .github/.github/workflows/label-verify.yml
Labels: theme:workflow

Move config to right folder
  .github/workflows/label-verify.yml
Labels: theme:workflow

Add Release Draft action
  .github/release-drafter.yml
  .github/workflows/maven.yml
  .github/workflows/release-draft.yml
Labels: theme:workflow

Switch from fest-assert to assertj.
  .gitignore
  pom.xml
Labels: theme:build

Use assertj instead of hamcrest
  src/test/java/com/acme/banking/dbo/ClientTest.java
  src/test/java/com/acme/banking/dbo/SavingAccountTest.java
Labels: theme:tests

Move tests to right package
  src/test/java/com/acme/banking/dbo/domain/ClientTest.java
  src/test/java/com/acme/banking/dbo/domain/SavingAccountTest.java
Labels: theme:tests

Fix dummy names and use the same assert for object link
  src/test/java/com/acme/banking/dbo/domain/ClientTest.java
  src/test/java/com/acme/banking/dbo/domain/SavingAccountTest.java
Labels: theme:tests

Remove ArrayListTest
  src/test/java/demo/ArrayListTest.java
Labels: theme:tests

Use junit5 instead of junit4
  pom.xml
  src/test/java/com/acme/banking/dbo/domain/ClientTest.java
  src/test/java/com/acme/banking/dbo/domain/SavingAccountTest.java
Labels: theme:build, theme:tests

Implement and use random parameter extension
  src/test/java/com/acme/banking/dbo/domain/SavingAccountTest.java
  src/test/java/org/junit/jupiter/api/extension/example/random/Random.java
  src/test/java/org/junit/jupiter/api/extension/example/random/RandomParametersExtension.java
Labels: theme:tests

Implement creating client and coverage it by tests
  src/main/java/com/acme/banking/dbo/dao/ClientRepository.java
  src/main/java/com/acme/banking/dbo/service/Processing.java
  src/test/java/com/acme/banking/dbo/service/ProcessingTest.java
Labels: theme:core, theme:tests

Implement stub builders
  src/test/java/com/acme/banking/dbo/builder/ClientRepositoryStubBuilder.java
  src/test/java/com/acme/banking/dbo/builder/ClientStubBuilder.java
  src/test/java/com/acme/banking/dbo/domain/SavingAccountTest.java
  src/test/java/com/acme/banking/dbo/service/ProcessingTest.java
Labels: theme:tests

.github/labeler.yml:

theme:workflow:
  - ".github/**/*"

theme:build:
  - "pom.xml"
  - ".gitignore"

theme:core:
  - "src/main/**/*"

theme:tests:
  - "src/test/**/*"
